<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Type person:</strong>
  <%= @person.type_person %>
</p>

<p>
  <strong>Document:</strong>
  <%= @person.document %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @person.cell %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @person.telephone %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
