<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @pessoa.nome %>
</p>

<p>
  <strong>Tipo pessoa:</strong>
  <%= @pessoa.tipo_pessoa %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @pessoa.documento %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @pessoa.celular %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @pessoa.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pessoa.email %>
</p>

<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>
